body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  /* background: grey; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  /* height: 300px; */
  max-height: 100vh;
}

.number-slide1 {
}

.number-slide2 {
  width: 70px;
}

.number-slide3 {
}

.number-slide4 {
}

.number-slide5 {
}

.number-slide6 {
}

.thumbnail {
  
}
.thumbnail .keen-slider__slide {
  font-size: 30px;
  /* margin-top: 10px; */
  height: 70px;
  /* width: 70px; */
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}

.thumbnail .keen-slider__slide.active {
  border: 2px solid black;
}
